*, :after, :before  {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
}
html, body {
    font-family: ShangHei,Helvetica,Arial,sans-serif;
    background-color: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
}
canvas {
    display: block;
    touch-action: none;
}
a, a:focus, a:hover, a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* app */
.app {
    position: relative;
    width: 100%;
    height: 100%;
}

/* join */
.join {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.join .container {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); 
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 1rem;
}
.join .container .title {
    color: #fff;
    font-size: 2.7rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #009688;
    -webkit-transition:text-shadow .2s ease;
    transition:text-shadow .2s ease;
}
.join .container .title:hover {
    text-shadow: 3px 5px #009688;
}
.join .container .username {
    text-align: center;
    border: 1px solid #ccc;
    color: #009688;
    padding: .4rem 1.5rem;
    font-size: 1.25rem;
    display: block;
    margin: .75rem auto;
    min-width: 15rem;
}
.join .container .btn {
    padding: .25rem 1rem;
    margin: .5rem .25rem;
    font-size: 1.2rem;
    display: inline-block;
    background: #fff;
    color: #009688;
    border-bottom: 2px solid #009688;
    border-right: 2px solid #009688;
    cursor: pointer;
    -webkit-transition: background .5s ease, color .5s ease;
    transition: background .5s ease, color .5s ease;
}
.join .container .btn:hover {
    background: #009688;
    color: #fff;
}
.join .container .intro {
    color: #fff;
    font-size: .9rem;
}
.join .container .intro p {
    margin: .2rem 0;
}
.join .container .intro strong {
    color: #ff0;
}
@media (max-width: 767px) {
    .join .container .title {
        font-size: 1.8rem;
    }
    .join .container .username {
        min-width: auto;
        font-size: 1rem;
        margin: .5rem auto;
        width: 100%;
    }
    .join .container .intro {
        font-size: .7rem;
    }
}
